In [4]:
# pandas for data manipulation
import pandas as pd
# sqlalchemy for running sql queries

import sqlalchemy as db
# create engine to connect to database
# change username and password to your username and password
username = 'sammy'
password = '12345678'
# change ip address to your ip address (your pc)
IPAdress = '172.17.0.2'

con = db.create_engine(f'mysql+mysqldb://{username}:{password}@{IPAdress}')
# run sql file
cur = con.connect()

In [8]:
with open('database.sql') as f:
    cur.execute(db.text(f.read()))

ProgrammingError: (MySQLdb.ProgrammingError) (1007, "Can't create database 'School'; database exists")
[SQL: -- Active: 1684524067416@@172.17.0.2@3306@School
CREATE DATABASE School;
USE School;
create table Students(
    id int not null auto_increment,
    name varchar(255) not null,
    age int not null,
    primary key(id)
);
create table Attendance(
    id int not null auto_increment,
    student_id int not null,
    course_name VARCHAR(255) not null,
    date date not null,
    primary key(id),
    foreign key(student_id) references School.Students(id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

we can import the data into the sql server using python (pandas)

In [5]:
# import from csv
Students = pd.read_csv('Students.csv')
Students.to_sql('Students', con = con, if_exists='append', index=False, schema='School')
Attendance = pd.read_csv('Attendance.csv')
Attendance.to_sql('Attendance', con = con, if_exists='append', index=False, schema='School')
del Students
del Attendance

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '1' for key 'Students.PRIMARY'")
[SQL: INSERT INTO `School`.`Students` (id, name, age) VALUES (%s, %s, %s)]
[parameters: [(1, 'John Smith', 20), (2, 'Jane Doe', 19), (3, 'Michael Johnson', 21), (4, 'Sarah Williams', 22), (5, 'David Brown', 18), (6, 'Emily Davis', 20), (7, 'James Wilson', 19), (8, 'Olivia Taylor', 21)  ... displaying 10 of 20 total bound parameter sets ...  (19, 'Andrew Lee', 22), (20, 'Charlotte Clark', 18)]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

this the way that uses sql

In [9]:
with open('insertValues.sql',mode = 'r') as f:
        cur.execute(db.text(f.read()))

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '1' for key 'Students.PRIMARY'")
[SQL: -- Active: 1684524067416@@172.17.0.2@3306@School
INSERT INTO School.Students (id, name, age) VALUES ('1', 'John Smith', '20');
INSERT INTO School.Students (id, name, age) VALUES ('2', 'Jane Doe', '19');
INSERT INTO School.Students (id, name, age) VALUES ('3', 'Michael Johnson', '21');
INSERT INTO School.Students (id, name, age) VALUES ('4', 'Sarah Williams', '22');
INSERT INTO School.Students (id, name, age) VALUES ('5', 'David Brown', '18');
INSERT INTO School.Students (id, name, age) VALUES ('6', 'Emily Davis', '20');
INSERT INTO School.Students (id, name, age) VALUES ('7', 'James Wilson', '19');
INSERT INTO School.Students (id, name, age) VALUES ('8', 'Olivia Taylor', '21');
INSERT INTO School.Students (id, name, age) VALUES ('9', 'Robert Anderson', '22');
INSERT INTO School.Students (id, name, age) VALUES ('10', 'Sophia Martinez', '18');
INSERT INTO School.Students (id, name, age) VALUES ('11', 'William Thomas', '20');
INSERT INTO School.Students (id, name, age) VALUES ('12', 'Ava Jackson', '19');
INSERT INTO School.Students (id, name, age) VALUES ('13', 'Matthew White', '21');
INSERT INTO School.Students (id, name, age) VALUES ('14', 'Emma Harris', '22');
INSERT INTO School.Students (id, name, age) VALUES ('15', 'Liam Thompson', '18');
INSERT INTO School.Students (id, name, age) VALUES ('16', 'Isabella Martin', '20');
INSERT INTO School.Students (id, name, age) VALUES ('17', 'Christopher Garcia', '19');
INSERT INTO School.Students (id, name, age) VALUES ('18', 'Mia Lopez', '21');
INSERT INTO School.Students (id, name, age) VALUES ('19', 'Andrew Lee', '22');
INSERT INTO School.Students (id, name, age) VALUES ('20', 'Charlotte Clark', '18');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('1', 'Mathematics', '1', '2023-05-01');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('2', 'Mathematics', '2', '2023-05-01');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('3', 'Mathematics', '3', '2023-05-01');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('4', 'Mathematics', '4', '2023-05-01');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('5', 'Mathematics', '5', '2023-05-01');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('6', 'English', '1', '2023-05-02');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('7', 'English', '2', '2023-05-02');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('8', 'English', '3', '2023-05-02');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('9', 'English', '4', '2023-05-02');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('10', 'English', '5', '2023-05-02');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('11', 'Physics', '1', '2023-05-03');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('12', 'Physics', '2', '2023-05-03');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('13', 'Physics', '3', '2023-05-03');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('14', 'Physics', '4', '2023-05-03');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('15', 'Physics', '5', '2023-05-03');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('16', 'Chemistry', '1', '2023-05-04');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('17', 'Chemistry', '2', '2023-05-04');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('18', 'Chemistry', '3', '2023-05-04');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('19', 'Chemistry', '4', '2023-05-04');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('20', 'Chemistry', '5', '2023-05-04');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('21', 'History', '1', '2023-05-05');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('22', 'History', '2', '2023-05-05');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('23', 'History', '3', '2023-05-05');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('24', 'History', '4', '2023-05-05');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('25', 'History', '5', '2023-05-05');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('26', 'Geography', '1', '2023-05-06');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('27', 'Geography', '2', '2023-05-06');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('28', 'Geography', '3', '2023-05-06');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('29', 'Geography', '4', '2023-05-06');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('30', 'Geography', '5', '2023-05-06');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('31', 'Computer Science', '1', '2023-05-07');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('32', 'Computer Science', '2', '2023-05-07');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('33', 'Computer Science', '3', '2023-05-07');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('34', 'Computer Science', '4', '2023-05-07');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('35', 'Computer Science', '5', '2023-05-07');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('36', 'Art', '1', '2023-05-08');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('37', 'Art', '2', '2023-05-08');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('38', 'Art', '3', '2023-05-08');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('39', 'Art', '4', '2023-05-08');
INSERT INTO School.Attendance (id, course_name, student_id, date) VALUES ('40', 'Art', '5', '2023-05-08');
]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Here if you want to add an sql Query

In [107]:
cur.execute(db.text(
"""               
-- add your sql query here without printing the result    
                    
                    
"""))

In [109]:
cur.execute(db.text(
"""
-- add your sql query here with printing the result
-- please put one query to print the result
select * from School.Students;
""")).fetchall()

[(1, 'John Smith', 20),
 (2, 'Jane Doe', 19),
 (3, 'Michael Johnson', 21),
 (4, 'Sarah Williams', 22),
 (5, 'David Brown', 18),
 (6, 'Emily Davis', 20),
 (7, 'James Wilson', 19),
 (8, 'Olivia Taylor', 21),
 (9, 'Robert Anderson', 22),
 (10, 'Sophia Martinez', 18),
 (11, 'William Thomas', 20),
 (12, 'Ava Jackson', 19),
 (13, 'Matthew White', 21),
 (14, 'Emma Harris', 22),
 (15, 'Liam Thompson', 18),
 (16, 'Isabella Martin', 20),
 (17, 'Christopher Garcia', 19),
 (18, 'Mia Lopez', 21),
 (19, 'Andrew Lee', 22),
 (20, 'Charlotte Clark', 18)]

if you want to join there are 2 way one with python (using pandas) and the other with sql

In [5]:
# the python one (note it doesn't take the values from the csv file)
Students = pd.read_sql_query('SELECT * FROM School.Students', con = con)
Attendance = pd.read_sql_query('SELECT * FROM School.Attendance', con = con)
# here write how do you want to join (left, right, inner, outer, cross)
join = 'left'
# this is the join method
Students.merge(Attendance, left_on = 'id', right_on = 'student_id',how = join, suffixes=('_Students', '_Attendance'))

# for cross join remove the left_on and right_on

,id_Students,name,age,id_Attendance,student_id,course_name,date
0,1,John Smith,20,1.0,1.0,Mathematics,2023-05-01
1,1,John Smith,20,6.0,1.0,English,2023-05-02
2,1,John Smith,20,11.0,1.0,Physics,2023-05-03
3,1,John Smith,20,16.0,1.0,Chemistry,2023-05-04
4,1,John Smith,20,21.0,1.0,History,2023-05-05
5,1,John Smith,20,26.0,1.0,Geography,2023-05-06
6,1,John Smith,20,31.0,1.0,Computer Science,2023-05-07
7,1,John Smith,20,36.0,1.0,Art,2023-05-08
8,2,Jane Doe,19,2.0,2.0,Mathematics,2023-05-01
9,2,Jane Doe,19,7.0,2.0,English,2023-05-02
10,2,Jane Doe,19,12.0,2.0,Physics,2023-05-03
11,2,Jane Doe,19,17.0,2.0,Chemistry,2023-05-04
12,2,Jane Doe,19,22.0,2.0,History,2023-05-05
13,2,Jane Doe,19,27.0,2.0,Geography,2023-05-06
14,2,Jane Doe,19,32.0,2.0,Computer Science,2023-05-07
15,2,Jane Doe,19,37.0,2.0,Art,2023-05-08
16,3,Michael Johnson,21,3.0,3.0,Mathematics,2023-05-01
17,3,Michael Johnson,21,8.0,3.0,English,2023-05-02
18,3,Michael Johnson,21,13.0,3.0,Physics,2023-05-03
19,3,Michael Johnson,21,18.0,3.0,Chemistry,2023-05-04
20,3,Michael Johnson,21,23.0,3.0,History,2023-05-05
21,3,Michael Johnson,21,28.0,3.0,Geography,2023-05-06
22,3,Michael Johnson,21,33.0,3.0,Computer Science,2023-05-07
23,3,Michael Johnson,21,38.0,3.0,Art,2023-05-08
24,4,Sarah Williams,22,4.0,4.0,Mathematics,2023-05-01
25,4,Sarah Williams,22,9.0,4.0,English,2023-05-02
26,4,Sarah Williams,22,14.0,4.0,Physics,2023-05-03
27,4,Sarah Williams,22,19.0,4.0,Chemistry,2023-05-04
28,4,Sarah Williams,22,24.0,4.0,History,2023-05-05
29,4,Sarah Williams,22,29.0,4.0,Geography,2023-05-06
30,4,Sarah Williams,22,34.0,4.0,Computer Science,2023-05-07
31,4,Sarah Williams,22,39.0,4.0,Art,2023-05-08
32,5,David Brown,18,5.0,5.0,Mathematics,2023-05-01
33,5,David Brown,18,10.0,5.0,English,2023-05-02
34,5,David Brown,18,15.0,5.0,Physics,2023-05-03
35,5,David Brown,18,20.0,5.0,Chemistry,2023-05-04
36,5,David Brown,18,25.0,5.0,History,2023-05-05
37,5,David Brown,18,30.0,5.0,Geography,2023-05-06
38,5,David Brown,18,35.0,5.0,Computer Science,2023-05-07
39,5,David Brown,18,40.0,5.0,Art,2023-05-08
40,6,Emily Davis,20,NaN,NaN,NaN,NaN
41,7,James Wilson,19,NaN,NaN,NaN,NaN
42,8,Olivia Taylor,21,NaN,NaN,NaN,NaN
43,9,Robert Anderson,22,NaN,NaN,NaN,NaN
44,10,Sophia Martinez,18,NaN,NaN,NaN,NaN
45,11,William Thomas,20,NaN,NaN,NaN,NaN
46,12,Ava Jackson,19,NaN,NaN,NaN,NaN
47,13,Matthew White,21,NaN,NaN,NaN,NaN
48,14,Emma Harris,22,NaN,NaN,NaN,NaN
49,15,Liam Thompson,18,NaN,NaN,NaN,NaN
50,16,Isabella Martin,20,NaN,NaN,NaN,NaN
51,17,Christopher Garcia,19,NaN,NaN,NaN,NaN
52,18,Mia Lopez,21,NaN,NaN,NaN,NaN
53,19,Andrew Lee,22,NaN,NaN,NaN,NaN
54,20,Charlotte Clark,18,NaN,NaN,NaN,NaN

with sql

In [12]:
cur.execute(db.text('use School;'))
cur.execute(db.text(
"""
-- Inner join
select *, s.id as s_id from Students s inner join `Attendance` on s.id = `Attendance`.`student_id`;
""")).fetchall()


cur.execute(db.text("""
-- left join
select *, s.id as s_id from Students s left join `Attendance` on s.id = `Attendance`.`student_id`;
""")).fetchall()

cur.execute(db.text("""
-- right join
select *, s.id as s_id from Students s right join `Attendance` on s.`id` = `Attendance`.`student_id`;
""")).fetchall()

cur.execute(db.text("""
-- full join
(select *, Students.id as s_id from Students left join `Attendance` on Students.`id` = `Attendance`.`student_id`)
union
(SELECT *, Students.id as s_id from Students  right join `Attendance` on Students.`id` = `Attendance`.`student_id`) ; 
""")).fetchall()

cur.execute(db.text("""
-- Carcartesian product
select *, s.id as s_id from Students s cross join `Attendance`; 
"""
)).fetchall()

[(20, 'Charlotte Clark', 18, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 20),
 (19, 'Andrew Lee', 22, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 19),
 (18, 'Mia Lopez', 21, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 18),
 (17, 'Christopher Garcia', 19, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 17),
 (16, 'Isabella Martin', 20, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 16),
 (15, 'Liam Thompson', 18, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 15),
 (14, 'Emma Harris', 22, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 14),
 (13, 'Matthew White', 21, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 13),
 (12, 'Ava Jackson', 19, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 12),
 (11, 'William Thomas', 20, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 11),
 (10, 'Sophia Martinez', 18, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 10),
 (9, 'Robert Anderson', 22, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 9),
 (8, 'Olivia Taylor', 21, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 8),
 (7, 'James Wilson', 19, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 7),
 (6, 'Emily Davis', 20, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 6),
 (5, 'David Brown', 18, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 5),
 (4, 'Sarah Williams', 22, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 4),
 (3, 'Michael Johnson', 21, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 3),
 (2, 'Jane Doe', 19, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 2),
 (1, 'John Smith', 20, 1, 1, 'Mathematics', datetime.date(2023, 5, 1), 1),
 (20, 'Charlotte Clark', 18, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 20),
 (19, 'Andrew Lee', 22, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 19),
 (18, 'Mia Lopez', 21, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 18),
 (17, 'Christopher Garcia', 19, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 17),
 (16, 'Isabella Martin', 20, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 16),
 (15, 'Liam Thompson', 18, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 15),
 (14, 'Emma Harris', 22, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 14),
 (13, 'Matthew White', 21, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 13),
 (12, 'Ava Jackson', 19, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 12),
 (11, 'William Thomas', 20, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 11),
 (10, 'Sophia Martinez', 18, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 10),
 (9, 'Robert Anderson', 22, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 9),
 (8, 'Olivia Taylor', 21, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 8),
 (7, 'James Wilson', 19, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 7),
 (6, 'Emily Davis', 20, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 6),
 (5, 'David Brown', 18, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 5),
 (4, 'Sarah Williams', 22, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 4),
 (3, 'Michael Johnson', 21, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 3),
 (2, 'Jane Doe', 19, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 2),
 (1, 'John Smith', 20, 2, 2, 'Mathematics', datetime.date(2023, 5, 1), 1),
 (20, 'Charlotte Clark', 18, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 20),
 (19, 'Andrew Lee', 22, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 19),
 (18, 'Mia Lopez', 21, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 18),
 (17, 'Christopher Garcia', 19, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 17),
 (16, 'Isabella Martin', 20, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 16),
 (15, 'Liam Thompson', 18, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 15),
 (14, 'Emma Harris', 22, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 14),
 (13, 'Matthew White', 21, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 13),
 (12, 'Ava Jackson', 19, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 12),
 (11, 'William Thomas', 20, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 11),
 (10, 'Sophia Martinez', 18, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 10),
 (9, 'Robert Anderson', 22, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 9),
 (8, 'Olivia Taylor', 21, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 8),
 (7, 'James Wilson', 19, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 7),
 (6, 'Emily Davis', 20, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 6),
 (5, 'David Brown', 18, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 5),
 (4, 'Sarah Williams', 22, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 4),
 (3, 'Michael Johnson', 21, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 3),
 (2, 'Jane Doe', 19, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 2),
 (1, 'John Smith', 20, 3, 3, 'Mathematics', datetime.date(2023, 5, 1), 1),
 (20, 'Charlotte Clark', 18, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 20),
 (19, 'Andrew Lee', 22, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 19),
 (18, 'Mia Lopez', 21, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 18),
 (17, 'Christopher Garcia', 19, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 17),
 (16, 'Isabella Martin', 20, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 16),
 (15, 'Liam Thompson', 18, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 15),
 (14, 'Emma Harris', 22, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 14),
 (13, 'Matthew White', 21, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 13),
 (12, 'Ava Jackson', 19, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 12),
 (11, 'William Thomas', 20, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 11),
 (10, 'Sophia Martinez', 18, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 10),
 (9, 'Robert Anderson', 22, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 9),
 (8, 'Olivia Taylor', 21, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 8),
 (7, 'James Wilson', 19, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 7),
 (6, 'Emily Davis', 20, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 6),
 (5, 'David Brown', 18, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 5),
 (4, 'Sarah Williams', 22, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 4),
 (3, 'Michael Johnson', 21, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 3),
 (2, 'Jane Doe', 19, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 2),
 (1, 'John Smith', 20, 4, 4, 'Mathematics', datetime.date(2023, 5, 1), 1),
 (20, 'Charlotte Clark', 18, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 20),
 (19, 'Andrew Lee', 22, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 19),
 (18, 'Mia Lopez', 21, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 18),
 (17, 'Christopher Garcia', 19, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 17),
 (16, 'Isabella Martin', 20, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 16),
 (15, 'Liam Thompson', 18, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 15),
 (14, 'Emma Harris', 22, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 14),
 (13, 'Matthew White', 21, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 13),
 (12, 'Ava Jackson', 19, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 12),
 (11, 'William Thomas', 20, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 11),
 (10, 'Sophia Martinez', 18, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 10),
 (9, 'Robert Anderson', 22, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 9),
 (8, 'Olivia Taylor', 21, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 8),
 (7, 'James Wilson', 19, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 7),
 (6, 'Emily Davis', 20, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 6),
 (5, 'David Brown', 18, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 5),
 (4, 'Sarah Williams', 22, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 4),
 (3, 'Michael Johnson', 21, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 3),
 (2, 'Jane Doe', 19, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 2),
 (1, 'John Smith', 20, 5, 5, 'Mathematics', datetime.date(2023, 5, 1), 1),
 (20, 'Charlotte Clark', 18, 6, 1, 'English', datetime.date(2023, 5, 2), 20),
 (19, 'Andrew Lee', 22, 6, 1, 'English', datetime.date(2023, 5, 2), 19),
 (18, 'Mia Lopez', 21, 6, 1, 'English', datetime.date(2023, 5, 2), 18),
 (17, 'Christopher Garcia', 19, 6, 1, 'English', datetime.date(2023, 5, 2), 17),
 (16, 'Isabella Martin', 20, 6, 1, 'English', datetime.date(2023, 5, 2), 16),
 (15, 'Liam Thompson', 18, 6, 1, 'English', datetime.date(2023, 5, 2), 15),
 (14, 'Emma Harris', 22, 6, 1, 'English', datetime.date(2023, 5, 2), 14),
 (13, 'Matthew White', 21, 6, 1, 'English', datetime.date(2023, 5, 2), 13),
 (12, 'Ava Jackson', 19, 6, 1, 'English', datetime.date(2023, 5, 2), 12),
 (11, 'William Thomas', 20, 6, 1, 'English', datetime.date(2023, 5, 2), 11),
 (10, 'Sophia Martinez', 18, 6, 1, 'English', datetime.date(2023, 5, 2), 10),
 (9, 'Robert Anderson', 22, 6, 1, 'English', datetime.date(2023, 5, 2), 9),
 (8, 'Olivia Taylor', 21, 6, 1, 'English', datetime.date(2023, 5, 2), 8),
 (7, 'James Wilson', 19, 6, 1, 'English', datetime.date(2023, 5, 2), 7),
 (6, 'Emily Davis', 20, 6, 1, 'English', datetime.date(2023, 5, 2), 6),
 (5, 'David Brown', 18, 6, 1, 'English', datetime.date(2023, 5, 2), 5),
 (4, 'Sarah Williams', 22, 6, 1, 'English', datetime.date(2023, 5, 2), 4),
 (3, 'Michael Johnson', 21, 6, 1, 'English', datetime.date(2023, 5, 2), 3),
 (2, 'Jane Doe', 19, 6, 1, 'English', datetime.date(2023, 5, 2), 2),
 (1, 'John Smith', 20, 6, 1, 'English', datetime.date(2023, 5, 2), 1),
 (20, 'Charlotte Clark', 18, 7, 2, 'English', datetime.date(2023, 5, 2), 20),
 (19, 'Andrew Lee', 22, 7, 2, 'English', datetime.date(2023, 5, 2), 19),
 (18, 'Mia Lopez', 21, 7, 2, 'English', datetime.date(2023, 5, 2), 18),
 (17, 'Christopher Garcia', 19, 7, 2, 'English', datetime.date(2023, 5, 2), 17),
 (16, 'Isabella Martin', 20, 7, 2, 'English', datetime.date(2023, 5, 2), 16),
 (15, 'Liam Thompson', 18, 7, 2, 'English', datetime.date(2023, 5, 2), 15),
 (14, 'Emma Harris', 22, 7, 2, 'English', datetime.date(2023, 5, 2), 14),
 (13, 'Matthew White', 21, 7, 2, 'English', datetime.date(2023, 5, 2), 13),
 (12, 'Ava Jackson', 19, 7, 2, 'English', datetime.date(2023, 5, 2), 12),
 (11, 'William Thomas', 20, 7, 2, 'English', datetime.date(2023, 5, 2), 11),
 (10, 'Sophia Martinez', 18, 7, 2, 'English', datetime.date(2023, 5, 2), 10),
 (9, 'Robert Anderson', 22, 7, 2, 'English', datetime.date(2023, 5, 2), 9),
 (8, 'Olivia Taylor', 21, 7, 2, 'English', datetime.date(2023, 5, 2), 8),
 (7, 'James Wilson', 19, 7, 2, 'English', datetime.date(2023, 5, 2), 7),
 (6, 'Emily Davis', 20, 7, 2, 'English', datetime.date(2023, 5, 2), 6),
 (5, 'David Brown', 18, 7, 2, 'English', datetime.date(2023, 5, 2), 5),
 (4, 'Sarah Williams', 22, 7, 2, 'English', datetime.date(2023, 5, 2), 4),
 (3, 'Michael Johnson', 21, 7, 2, 'English', datetime.date(2023, 5, 2), 3),
 (2, 'Jane Doe', 19, 7, 2, 'English', datetime.date(2023, 5, 2), 2),
 (1, 'John Smith', 20, 7, 2, 'English', datetime.date(2023, 5, 2), 1),
 (20, 'Charlotte Clark', 18, 8, 3, 'English', datetime.date(2023, 5, 2), 20),
 (19, 'Andrew Lee', 22, 8, 3, 'English', datetime.date(2023, 5, 2), 19),
 (18, 'Mia Lopez', 21, 8, 3, 'English', datetime.date(2023, 5, 2), 18),
 (17, 'Christopher Garcia', 19, 8, 3, 'English', datetime.date(2023, 5, 2), 17),
 (16, 'Isabella Martin', 20, 8, 3, 'English', datetime.date(2023, 5, 2), 16),
 (15, 'Liam Thompson', 18, 8, 3, 'English', datetime.date(2023, 5, 2), 15),
 (14, 'Emma Harris', 22, 8, 3, 'English', datetime.date(2023, 5, 2), 14),
 (13, 'Matthew White', 21, 8, 3, 'English', datetime.date(2023, 5, 2), 13),
 (12, 'Ava Jackson', 19, 8, 3, 'English', datetime.date(2023, 5, 2), 12),
 (11, 'William Thomas', 20, 8, 3, 'English', datetime.date(2023, 5, 2), 11),
 (10, 'Sophia Martinez', 18, 8, 3, 'English', datetime.date(2023, 5, 2), 10),
 (9, 'Robert Anderson', 22, 8, 3, 'English', datetime.date(2023, 5, 2), 9),
 (8, 'Olivia Taylor', 21, 8, 3, 'English', datetime.date(2023, 5, 2), 8),
 (7, 'James Wilson', 19, 8, 3, 'English', datetime.date(2023, 5, 2), 7),
 (6, 'Emily Davis', 20, 8, 3, 'English', datetime.date(2023, 5, 2), 6),
 (5, 'David Brown', 18, 8, 3, 'English', datetime.date(2023, 5, 2), 5),
 (4, 'Sarah Williams', 22, 8, 3, 'English', datetime.date(2023, 5, 2), 4),
 (3, 'Michael Johnson', 21, 8, 3, 'English', datetime.date(2023, 5, 2), 3),
 (2, 'Jane Doe', 19, 8, 3, 'English', datetime.date(2023, 5, 2), 2),
 (1, 'John Smith', 20, 8, 3, 'English', datetime.date(2023, 5, 2), 1),
 (20, 'Charlotte Clark', 18, 9, 4, 'English', datetime.date(2023, 5, 2), 20),
 (19, 'Andrew Lee', 22, 9, 4, 'English', datetime.date(2023, 5, 2), 19),
 (18, 'Mia Lopez', 21, 9, 4, 'English', datetime.date(2023, 5, 2), 18),
 (17, 'Christopher Garcia', 19, 9, 4, 'English', datetime.date(2023, 5, 2), 17),
 (16, 'Isabella Martin', 20, 9, 4, 'English', datetime.date(2023, 5, 2), 16),
 (15, 'Liam Thompson', 18, 9, 4, 'English', datetime.date(2023, 5, 2), 15),
 (14, 'Emma Harris', 22, 9, 4, 'English', datetime.date(2023, 5, 2), 14),
 (13, 'Matthew White', 21, 9, 4, 'English', datetime.date(2023, 5, 2), 13),
 (12, 'Ava Jackson', 19, 9, 4, 'English', datetime.date(2023, 5, 2), 12),
 (11, 'William Thomas', 20, 9, 4, 'English', datetime.date(2023, 5, 2), 11),
 (10, 'Sophia Martinez', 18, 9, 4, 'English', datetime.date(2023, 5, 2), 10),
 (9, 'Robert Anderson', 22, 9, 4, 'English', datetime.date(2023, 5, 2), 9),
 (8, 'Olivia Taylor', 21, 9, 4, 'English', datetime.date(2023, 5, 2), 8),
 (7, 'James Wilson', 19, 9, 4, 'English', datetime.date(2023, 5, 2), 7),
 (6, 'Emily Davis', 20, 9, 4, 'English', datetime.date(2023, 5, 2), 6),
 (5, 'David Brown', 18, 9, 4, 'English', datetime.date(2023, 5, 2), 5),
 (4, 'Sarah Williams', 22, 9, 4, 'English', datetime.date(2023, 5, 2), 4),
 (3, 'Michael Johnson', 21, 9, 4, 'English', datetime.date(2023, 5, 2), 3),
 (2, 'Jane Doe', 19, 9, 4, 'English', datetime.date(2023, 5, 2), 2),
 (1, 'John Smith', 20, 9, 4, 'English', datetime.date(2023, 5, 2), 1),
 (20, 'Charlotte Clark', 18, 10, 5, 'English', datetime.date(2023, 5, 2), 20),
 (19, 'Andrew Lee', 22, 10, 5, 'English', datetime.date(2023, 5, 2), 19),
 (18, 'Mia Lopez', 21, 10, 5, 'English', datetime.date(2023, 5, 2), 18),
 (17, 'Christopher Garcia', 19, 10, 5, 'English', datetime.date(2023, 5, 2), 17),
 (16, 'Isabella Martin', 20, 10, 5, 'English', datetime.date(2023, 5, 2), 16),
 (15, 'Liam Thompson', 18, 10, 5, 'English', datetime.date(2023, 5, 2), 15),
 (14, 'Emma Harris', 22, 10, 5, 'English', datetime.date(2023, 5, 2), 14),
 (13, 'Matthew White', 21, 10, 5, 'English', datetime.date(2023, 5, 2), 13),
 (12, 'Ava Jackson', 19, 10, 5, 'English', datetime.date(2023, 5, 2), 12),
 (11, 'William Thomas', 20, 10, 5, 'English', datetime.date(2023, 5, 2), 11),
 (10, 'Sophia Martinez', 18, 10, 5, 'English', datetime.date(2023, 5, 2), 10),
 (9, 'Robert Anderson', 22, 10, 5, 'English', datetime.date(2023, 5, 2), 9),
 (8, 'Olivia Taylor', 21, 10, 5, 'English', datetime.date(2023, 5, 2), 8),
 (7, 'James Wilson', 19, 10, 5, 'English', datetime.date(2023, 5, 2), 7),
 (6, 'Emily Davis', 20, 10, 5, 'English', datetime.date(2023, 5, 2), 6),
 (5, 'David Brown', 18, 10, 5, 'English', datetime.date(2023, 5, 2), 5),
 (4, 'Sarah Williams', 22, 10, 5, 'English', datetime.date(2023, 5, 2), 4),
 (3, 'Michael Johnson', 21, 10, 5, 'English', datetime.date(2023, 5, 2), 3),
 (2, 'Jane Doe', 19, 10, 5, 'English', datetime.date(2023, 5, 2), 2),
 (1, 'John Smith', 20, 10, 5, 'English', datetime.date(2023, 5, 2), 1),
 (20, 'Charlotte Clark', 18, 11, 1, 'Physics', datetime.date(2023, 5, 3), 20),
 (19, 'Andrew Lee', 22, 11, 1, 'Physics', datetime.date(2023, 5, 3), 19),
 (18, 'Mia Lopez', 21, 11, 1, 'Physics', datetime.date(2023, 5, 3), 18),
 (17, 'Christopher Garcia', 19, 11, 1, 'Physics', datetime.date(2023, 5, 3), 17),
 (16, 'Isabella Martin', 20, 11, 1, 'Physics', datetime.date(2023, 5, 3), 16),
 (15, 'Liam Thompson', 18, 11, 1, 'Physics', datetime.date(2023, 5, 3), 15),
 (14, 'Emma Harris', 22, 11, 1, 'Physics', datetime.date(2023, 5, 3), 14),
 (13, 'Matthew White', 21, 11, 1, 'Physics', datetime.date(2023, 5, 3), 13),
 (12, 'Ava Jackson', 19, 11, 1, 'Physics', datetime.date(2023, 5, 3), 12),
 (11, 'William Thomas', 20, 11, 1, 'Physics', datetime.date(2023, 5, 3), 11),
 (10, 'Sophia Martinez', 18, 11, 1, 'Physics', datetime.date(2023, 5, 3), 10),
 (9, 'Robert Anderson', 22, 11, 1, 'Physics', datetime.date(2023, 5, 3), 9),
 (8, 'Olivia Taylor', 21, 11, 1, 'Physics', datetime.date(2023, 5, 3), 8),
 (7, 'James Wilson', 19, 11, 1, 'Physics', datetime.date(2023, 5, 3), 7),
 (6, 'Emily Davis', 20, 11, 1, 'Physics', datetime.date(2023, 5, 3), 6),
 (5, 'David Brown', 18, 11, 1, 'Physics', datetime.date(2023, 5, 3), 5),
 (4, 'Sarah Williams', 22, 11, 1, 'Physics', datetime.date(2023, 5, 3), 4),
 (3, 'Michael Johnson', 21, 11, 1, 'Physics', datetime.date(2023, 5, 3), 3),
 (2, 'Jane Doe', 19, 11, 1, 'Physics', datetime.date(2023, 5, 3), 2),
 (1, 'John Smith', 20, 11, 1, 'Physics', datetime.date(2023, 5, 3), 1),
 (20, 'Charlotte Clark', 18, 12, 2, 'Physics', datetime.date(2023, 5, 3), 20),
 (19, 'Andrew Lee', 22, 12, 2, 'Physics', datetime.date(2023, 5, 3), 19),
 (18, 'Mia Lopez', 21, 12, 2, 'Physics', datetime.date(2023, 5, 3), 18),
 (17, 'Christopher Garcia', 19, 12, 2, 'Physics', datetime.date(2023, 5, 3), 17),
 (16, 'Isabella Martin', 20, 12, 2, 'Physics', datetime.date(2023, 5, 3), 16),
 (15, 'Liam Thompson', 18, 12, 2, 'Physics', datetime.date(2023, 5, 3), 15),
 (14, 'Emma Harris', 22, 12, 2, 'Physics', datetime.date(2023, 5, 3), 14),
 (13, 'Matthew White', 21, 12, 2, 'Physics', datetime.date(2023, 5, 3), 13),
 (12, 'Ava Jackson', 19, 12, 2, 'Physics', datetime.date(2023, 5, 3), 12),
 (11, 'William Thomas', 20, 12, 2, 'Physics', datetime.date(2023, 5, 3), 11),
 (10, 'Sophia Martinez', 18, 12, 2, 'Physics', datetime.date(2023, 5, 3), 10),
 (9, 'Robert Anderson', 22, 12, 2, 'Physics', datetime.date(2023, 5, 3), 9),
 (8, 'Olivia Taylor', 21, 12, 2, 'Physics', datetime.date(2023, 5, 3), 8),
 (7, 'James Wilson', 19, 12, 2, 'Physics', datetime.date(2023, 5, 3), 7),
 (6, 'Emily Davis', 20, 12, 2, 'Physics', datetime.date(2023, 5, 3), 6),
 (5, 'David Brown', 18, 12, 2, 'Physics', datetime.date(2023, 5, 3), 5),
 (4, 'Sarah Williams', 22, 12, 2, 'Physics', datetime.date(2023, 5, 3), 4),
 (3, 'Michael Johnson', 21, 12, 2, 'Physics', datetime.date(2023, 5, 3), 3),
 (2, 'Jane Doe', 19, 12, 2, 'Physics', datetime.date(2023, 5, 3), 2),
 (1, 'John Smith', 20, 12, 2, 'Physics', datetime.date(2023, 5, 3), 1),
 (20, 'Charlotte Clark', 18, 13, 3, 'Physics', datetime.date(2023, 5, 3), 20),
 (19, 'Andrew Lee', 22, 13, 3, 'Physics', datetime.date(2023, 5, 3), 19),
 (18, 'Mia Lopez', 21, 13, 3, 'Physics', datetime.date(2023, 5, 3), 18),
 (17, 'Christopher Garcia', 19, 13, 3, 'Physics', datetime.date(2023, 5, 3), 17),
 (16, 'Isabella Martin', 20, 13, 3, 'Physics', datetime.date(2023, 5, 3), 16),
 (15, 'Liam Thompson', 18, 13, 3, 'Physics', datetime.date(2023, 5, 3), 15),
 (14, 'Emma Harris', 22, 13, 3, 'Physics', datetime.date(2023, 5, 3), 14),
 (13, 'Matthew White', 21, 13, 3, 'Physics', datetime.date(2023, 5, 3), 13),
 (12, 'Ava Jackson', 19, 13, 3, 'Physics', datetime.date(2023, 5, 3), 12),
 (11, 'William Thomas', 20, 13, 3, 'Physics', datetime.date(2023, 5, 3), 11),
 (10, 'Sophia Martinez', 18, 13, 3, 'Physics', datetime.date(2023, 5, 3), 10),
 (9, 'Robert Anderson', 22, 13, 3, 'Physics', datetime.date(2023, 5, 3), 9),
 (8, 'Olivia Taylor', 21, 13, 3, 'Physics', datetime.date(2023, 5, 3), 8),
 (7, 'James Wilson', 19, 13, 3, 'Physics', datetime.date(2023, 5, 3), 7),
 (6, 'Emily Davis', 20, 13, 3, 'Physics', datetime.date(2023, 5, 3), 6),
 (5, 'David Brown', 18, 13, 3, 'Physics', datetime.date(2023, 5, 3), 5),
 (4, 'Sarah Williams', 22, 13, 3, 'Physics', datetime.date(2023, 5, 3), 4),
 (3, 'Michael Johnson', 21, 13, 3, 'Physics', datetime.date(2023, 5, 3), 3),
 (2, 'Jane Doe', 19, 13, 3, 'Physics', datetime.date(2023, 5, 3), 2),
 (1, 'John Smith', 20, 13, 3, 'Physics', datetime.date(2023, 5, 3), 1),
 (20, 'Charlotte Clark', 18, 14, 4, 'Physics', datetime.date(2023, 5, 3), 20),

if you want to know the students who attented the class this is a one way to do that using python

In [11]:
Attened = Attendance[['course_name', 'date']].merge(Students[['id','name']], how = 'cross')
Attendance['attend'] = 1
Attened = Attened.merge(Attendance, how = 'left', left_on = ['id','course_name','date'], right_on = ['student_id','course_name','date'])
Attened['attend'] = Attened['attend'].fillna(0)
Attened['date'] = pd.to_datetime(Attened['date'])
Attened =  Attened.pivot_table(index = ['course_name','date'], columns = 'name', values = 'attend') 
Attened

,name,Andrew Lee,Ava Jackson,Charlotte Clark,Christopher Garcia,David Brown,Emily Davis,Emma Harris,Isabella Martin,James Wilson,Jane Doe,John Smith,Liam Thompson,Matthew White,Mia Lopez,Michael Johnson,Olivia Taylor,Robert Anderson,Sarah Williams,Sophia Martinez,William Thomas
course_name,date,,,,,,,,,,,,,,,,,,,,
Art,2023-05-08,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
Chemistry,2023-05-04,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
Computer Science,2023-05-07,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
English,2023-05-02,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
Geography,2023-05-06,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
History,2023-05-05,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
Mathematics,2023-05-01,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
Physics,2023-05-03,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [12]:
# if you want to select a specific class and date
subject = 'Mathematics'
date = pd.to_datetime('2023-05-01').to_datetime64()
# delete date or subject if you want to one of them 
Attened.loc[subject]

name,Andrew Lee,Ava Jackson,Charlotte Clark,Christopher Garcia,David Brown,Emily Davis,Emma Harris,Isabella Martin,James Wilson,Jane Doe,John Smith,Liam Thompson,Matthew White,Mia Lopez,Michael Johnson,Olivia Taylor,Robert Anderson,Sarah Williams,Sophia Martinez,William Thomas
date,,,,,,,,,,,,,,,,,,,,
2023-05-01,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

this is how can you do it with sql (we can uses pivot table to do that _at least I don't know_)

In [132]:
# choose the subject and date
subject = "'Mathematics'"
date = "'2023-05-01'"
# if you don't want you can 
k = cur.execute(db.text("""
alter table Attendance add column attend int;
update Attendance set attend = 1;
"""))
try:
    row = (cur.execute(db.text(f"""
    SELECT  att.course_name,  att.date, s.name, IFNULL( A.attend, 0) AS attend
    FROM Attendance att
    CROSS JOIN Students s
    LEFT JOIN (
        SELECT student_id, course_name, date, attend
        FROM Attendance
    ) AS A ON A.student_id = s.id AND A.course_name = att.course_name AND A.date = att.date
    where att.course_name = {subject} and att.date = {date}
    group by  att.course_name, att.date, s.name, A.attend;
                        """)).fetchall())
    for i in row:
        print (i)
finally:
    cur.execute(db.text("alter table `Attendance` drop COLUMN attend;"))

('Mathematics', datetime.date(2023, 5, 1), 'John Smith', 1)
('Mathematics', datetime.date(2023, 5, 1), 'Jane Doe', 1)
('Mathematics', datetime.date(2023, 5, 1), 'Michael Johnson', 1)
('Mathematics', datetime.date(2023, 5, 1), 'Sarah Williams', 1)
('Mathematics', datetime.date(2023, 5, 1), 'David Brown', 1)
('Mathematics', datetime.date(2023, 5, 1), 'Emily Davis', 0)
('Mathematics', datetime.date(2023, 5, 1), 'James Wilson', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Olivia Taylor', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Robert Anderson', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Sophia Martinez', 0)
('Mathematics', datetime.date(2023, 5, 1), 'William Thomas', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Ava Jackson', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Matthew White', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Emma Harris', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Liam Thompson', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Isabella Martin', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Christopher Garcia', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Mia Lopez', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Andrew Lee', 0)
('Mathematics', datetime.date(2023, 5, 1), 'Charlotte Clark', 0)

In [130]:
cur.execute(db.text("alter table `Attendance` drop COLUMN attend;"))